@charset "UTF-8";

/** 한글폰트 */
@font-face {
  font-family: 'AppleSDGothicNeoB00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoB/AppleSDGothicNeoB.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoB/AppleSDGothicNeoB.woff') format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoEB00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoEB/AppleSDGothicNeoEB.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoEB/AppleSDGothicNeoEB.woff')
      format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoH00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoH/AppleSDGothicNeoH.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoH/AppleSDGothicNeoH.woff') format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoL00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoL/AppleSDGothicNeoL.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoL/AppleSDGothicNeoL.woff') format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoM00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoM/AppleSDGothicNeoM.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoM/AppleSDGothicNeoM.woff') format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoR/AppleSDGothicNeoR.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoR/AppleSDGothicNeoR.woff') format('woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoT00';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/AppleSDGothicNeoT/AppleSDGothicNeoT.woff2')
      format('woff2'),
    url('assets/fonts/AppleSDGothicNeoT/AppleSDGothicNeoT.woff') format('woff');
}

@font-face {
  font-family: NanumSquareEB;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/NanumSquareB/NanumSquareExtraBold.ttf') format('woff');
}

@font-face {
  font-family: NanumSquareB;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/NanumSquareB/NanumSquareBold.ttf') format('woff');
}

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: NanumSquareEB;
}
